// Скрываем текст
@mixin hide-text() {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
// Обнуляем списки
@mixin list-clear() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
// главный заголовок
@mixin main-title () {
  font-size: 25px;
  line-height: 35px;
  color: #8abe3b;
  text-align: center;
}
//картинки
@mixin block-img() {
  width: 100%;
  height: auto;
  display: block;
}

//
@mixin container-fluid () {
  width: auto;
  @media #{$tablet-width} {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  @media #{$desctop-width} {
    width: 90%;
    max-width: 1200px;
  }
}
