// Скрываем текст
@mixin hide-text() {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
// Обнуляем списки
@mixin list-clear() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
//картинки
@mixin block-img() {
  width: 100%;
  height: auto;
  display: block;
}
//обводка картинок
@mixin border-radius {
  border: 2px solid #8abe3b;
  border-radius: 10px;
}

//
@mixin container-fluid () {
  width: auto;
  @media #{$tablet-width} {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  @media #{$desctop-width} {
    width: 90%;
    max-width: 1200px;
  }
}
//кнопка
@mixin btn {
  padding: 10px 15px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  background-color: #8abe3b;
}
