.angle {
  @include container-fluid;
  margin: 5px 40px;

  &__item {
    margin-bottom: 20px;
  }

  &__images {

    img {
      @include block-img;
      @include border-radius;
    }
  }

  &__discription {
    margin-top: 10px;
    text-align: center;
  }
}
@media #{$tablet-width} {
  .angle {

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(100% / 3);
    }

    &__images {

      img {
        width: 95%;
        margin: 0 auto;
      }
    }

    &__discription {
      margin-left: 2%;
      margin-top: 0;
      align-self: center;
      line-height: 26px;
    }
  }
}
