.angle {
  @include container-fluid;
  margin: 5px 40px;

  &__item {
    margin-bottom: 20px;
  }

  &__images {

    img {
      @include block-img;
      @include border-radius;
    }
  }

  &__discription {
    margin-top: 10px;
    text-align: center;
  }
}
@media #{$tablet-width} {
  .angle {

    &__item {
      display: flex;
    }

    &__images {
      width: 50%;

      img {
        max-height: 300px;
      }
    }

    &__discription {
      width: 48%;
      margin-left: 2%;
      margin-top: 0;
      align-self: center;
      line-height: 26px;
    }
  }
}
