.catalog {
  @include container-fluid;
  margin: 5px 20px;

  &__item{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-decoration: none;
  }

  &__images {

    img {
      @include block-img;
    }
  }

  &__discription {
    background-color: #8abe3b;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
    min-height: 35px;
  }
}
@media #{$tablet-width} {
  .catalog {

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 31%;
      margin: 0;
      margin-bottom: 35px;
    }
  }
}
