.catalog {
  @include container-fluid;
  margin: 5px 20px;

  &__title {
    @include main-title;
    margin-bottom: 20px;
  }

  &__list {

  }

  &__item{
    width: 80%;
    margin: auto;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
  }

  &__images {
    /*width: 65%;
    margin-right: 2%;
    outline: 2px solid #8abe3b;
    background-color: #ffffff;*/

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__discription {
    background-color: #8abe3b;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}
