.contacts {
  @include container-fluid;
  font-size: 20px;
  margin: 0 20px;
  margin-bottom: 20px;

  &__title {
    @include main-title;
  }

  &__list {
    @include list-clear;
    text-align: center;
  }

  &__item {
    line-height: 24px;
    margin-bottom: 10px;

    span {
      font-weight: 700;
    }
  }

  &__work-time {
    display: flex;
    justify-content: center;
  }

  &__work {
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  &__time {
    line-height: 28px;
  }
}

@media #{$tablet-width} {
  .contacts {
    margin-bottom: 10px;

    &__wrapper {
      display: flex;
      justify-content: space-around;
    }

    &__list {
      text-align: left;
    }
  }
}

@media #{$desctop-width} {
  .contacts {
    font-size: 23px;
  }
}
