  .main-nav {
    display: none;
    position: relative;

    &__show {
      display: block;
    }

    &__toggle-close {
      position: absolute;
      top: 10px;
      right: 25px;
      width: 27px;
      height: 27px;
      cursor: pointer;

      &:before, &:after{
        content: "";
        position: absolute;
        top: 11px;
        right:0;
        width: 27px;
        height: 4px;
        background-color: #fff;
        transform: rotate(45deg);
        z-index: 10;
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &__list {
      @include list-clear;
    }

    &__item {
      font-size: 18px;
      line-height: 40px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      background-image: linear-gradient(to bottom, #a5cd49, #71b02f);

      a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #ffffff;
      }

      &--price {
        display: block;
        text-decoration: none;
        color: #ffffff;
      }

      &--search {
        padding: 5px;

        input {
          text-align: center;
          border: none;
          outline: none;
        }
      }

      &--tel {
        padding: 5px;
        color: #ffffff;
      }
    }
  }

@media #{$tablet-width} {
  .main-nav {
    display: block;

    &__toggle-close {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 150px;
    }

    &__item {
      width: 18%;
      margin-right: 1%;
      font-size: 10px;
      line-height: 22px;
      border-radius: 3px;

      a {
        padding: 0;
        line-height: 34px;
      }

      &--price {
        position: relative;
        width: 15%;
        line-height: 34px;
        text-align: center;
      }
/* картинка с принтером
      &--price:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 76%;
        width: 22px;
        height: 30px;
        background: url(../img/print.png) no-repeat center center;
        background-size: 22px 18px;
      }*/

      &--search {
        position: relative;
        width: 23%;
        padding: 0;
        text-align: left;
        order: 5;

        input {
          width: 70%;
          padding-left: 7px;
          font-size: 11px;
          line-height: 30px;
          text-align: left;
          border: 1px solid #c0c0c0;
          border-radius: 5px 0 0 5px;
        }
      }

      &--search:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 33px;
        background: url(../img/search.svg) no-repeat center center;
        background-size: 17px 20px;
        z-index: 100;
        cursor: pointer;
        }

      &--tel {
        width: 20%;
        order: 6;
      }
    }
  }
}
@media #{$desctop-width} {
  .main-nav {

    &__item {
      padding: 0;
      font-size: 14px;
      line-height: 36px;

      a {
        line-height: 36px;
      }

      &--price {
        width: 17%;
      }

      &--price:after {
        top: 3px;
        left: 81%;
      }

      &--search {

        input {
          width: 75%;
          font-size: 14px;
          font-weight: 300;
          line-height: 32px;
        }
      }

      &--search:before {
        width: 45px;
        height: 35px;
        background-size: 20px 20px;
      }

      &--tel {
        margin-right: 0;
        padding: 0 5px;
        font-size: 13px;
      }
    }
  }
}
