.page-header {
  &__logo {
    width: 150px;
    margin: 20px auto;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

@media #{$tablet-width} {
  .page-header {
    @include container-fluid;
  }
}
@media #{$desctop-width} {
  .page-header {

    &__logo {
      width: 169px;
      height: 119px;
      margin: 30px auto;
    }
  }
}
