.page-header {
  &__logo {
    width: 100px;
  }
}
@media #{$desctop-width} {
  .page-header {

    &__logo {
      width: 169px;
      height: 119px;
      margin: 30px auto;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
