.page-header {
  position: relative;

  &__toggle-open {
    position: absolute;
    bottom: 75px;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #8abe3b;
      box-shadow: 0 8px 0 0 #8abe3b, 0 16px 0 0 #8abe3b;
    }
  }

  &__logo {
    width: 150px;
    margin: 20px auto;
    display: block;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

@media #{$tablet-width} {
  .page-header {
    @include container-fluid;

    &__toggle-open {
      display: none;
    }

    &__logo {
      position: absolute;
      top: -130px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }
  }
}
@media #{$desctop-width} {
  .page-header {

    &__logo {
      width: 169px;
      height: 119px;
    }
  }
}
