.screw {
  @include container-fluid;
  margin: 20px;

  &__item {
    margin-bottom: 20px;
  }

  &__images {

    img {
      @include block-img;
      @include border-radius;
    }
  }

  &__discription {
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
  }
}
@media #{$tablet-width} {
  .screw {

    &__item {
    display: flex;
    }

    &__images {
      width: 50%;

      img {
        max-height: 220px;
      }
    }

    &__discription {
      width: 48%;
      margin-left: 2%;
      margin-top: 0;
      align-self: center;
      line-height: 26px;
    }
  }
}
@media #{$desctop-width} {
  .screw {

    &__images {

      img {
        max-height: 260px;
      }
    }

    &__discription {
      line-height: 30px;
    }
  }
}
