.screw {
  @include container-fluid;
  margin: 20px;

  &__item {
    margin-bottom: 20px;
  }

  &__images {

    img {
      @include block-img;
      @include border-radius;
    }
  }

  &__discription {
    margin-top: 10px;
    text-align: center;
  }
}
@media #{$tablet-width} {
  .screw {

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 31%;
      margin-bottom: 30px;

      &--width {
        width: 49%;
      }
    }

    &__images {

      img {
        max-height: 220px;
      }
    }
  }
}
@media #{$desctop-width} {
  .screw {

    &__images {

      img {
        max-height: 350px;
      }
    }
  }
}
