.sill {
  @include container-fluid;
  margin: 5px 20px;

  &__wrapper {
    margin-bottom: 40px;
  }

  &__images {

    img {
      @include block-img;
      @include border-radius;
    }
  }

  &__discription {
    margin-top: 10px;
  }
}
@media #{$tablet-width} {
  .sill {

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__images {
      width: 50%;
    }

    &__discription {
      width: 45%;
      margin-top: 0;
      align-self: center;
      text-align: center;
      line-height: 30px;
    }
  }
}
@media #{$desctop-width} {
  .sill {

    &__wrapper {
      justify-content: space-around;
    }

    &__images {
      width: 45%;
    }

    &__discription {
      width: 35%;
    }
  }
}
