.sill {
  @include container-fluid;
  margin: 5px 20px;

  &__wrapper {
    margin-bottom: 20px;
  }

  &__images {

    img {
      min-height: 150px;
      @include block-img;
      @include border-radius;
    }
  }

  &__discription {
    margin-top: 10px;
  }
}
@media #{$tablet-width} {
  .sill {

    &__wrapper {
      display: flex;
    }

    &__images {
      width: 50%;
    }

    &__discription {
      width: 44%;
      margin-left: 3%;
      margin-right: 3%;
      align-self: center;
    }
  }
}
@media #{$desctop-width} {
  .sill {
  }
}
