.sliders {
  position: relative;

  input {
    display: none;
  }

  label {
    position:absolute;
    top: 43%;
    width: 26px;
    height: 31px;
    background-color: rgba(165,205,73,0.6);
  }

  label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 10px;
    height: 23px;
  }

  label [for="btn-1"] {
    left: 0;
  }

  label[for="btn-1"]:after {
    background: url(../../img/slider-arrow-left.png) no-repeat center center;
  }

  label[for="btn-2"] {
    right: 0;
  }

  label[for="btn-2"]:after {
    background: url(../../img/slider-arrow-right.png) no-repeat center center;
  }

  &__images {
    display: none;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

#btn-1:checked ~ .sliders__images--one {
    display: block;
  }
#btn-2:checked ~ .sliders__images--two {
    display: block;
  }

@media #{$desctop-width} {
  .sliders {

    label {
      width: 35px;
      height: 37px;
    }

    label:after {
      top: 7px;
    }

    label[for="btn-1"]:after {
      left: 11px;
    }

    label[for="btn-2"]:after {
      left: 14px;
    }
  }
}
