.sliders {
  position: relative;

  input {
    display: none;
  }

  label {
    position:absolute;
    top: 43%;
    width: 26px;
    height: 31px;
    background-color: rgba(165,205,73,0.6);
  }

  label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 10px;
    height: 23px;
  }

  label [for="btn-1"] {
    left: 0;
  }

  label[for="btn-1"]:after {
    background: url(../img/slider-arrow-left.png) no-repeat center center;
  }

  label[for="btn-2"] {
    right: 0;
  }

  label[for="btn-2"]:after {
    background: url(../img/slider-arrow-right.png) no-repeat center center;
  }

  &__images {
    display: none;

    img {
      @include block-img;
    }
  }
}

#btn-1:checked ~ .sliders__images--one {
    display: block;
  }
#btn-2:checked ~ .sliders__images--two {
    display: block;
  }

@media #{$desctop-width} {
  .sliders {

    label {
      width: 35px;
      height: 37px;
    }

    label:after {
      top: 7px;
    }

    label[for="btn-1"]:after {
      left: 11px;
    }

    label[for="btn-2"]:after {
      left: 14px;
    }
  }
}
/*
@keyframes cycle {
   0%  { top: 0px; }
   10% { top: 0px; opacity:1; z-index:0; }
   20% { top: 500px; opacity: 0; z-index: 0; }
   30% { top: -500px; opacity: 0; z-index: -1; }
   50% { top: -500px; opacity: 0; z-index: 0; }
   80% { top: -500px; opacity: 0; }
   100%{ top: 0px; opacity: 1; }
}
@keyframes cycletwo {
   0%  { top: -855px; opacity: 0; }
   16% { top: -500px; opacity: 0; }
   20% { top: -200px; opacity: 1; }
   24% { top: 0px; opacity: 1; }
   36% { top: 0px; opacity: 1; z-index: 0; }
   40% { top: 500px; opacity: 0; z-index: 0; }
   41% { top: -500px; opacity: 0; z-index: -1; }
   100%{ top: -500px; opacity: 0; z-index: -1; }
}*/

